.container{
	width: 50%;
	margin: 0px auto;
	padding: 30px 50px;
	border: 1px solid gray;
	font-family: sans-serif;
	line-height: 1.1;
	color: grey;
}
.header{
	text-align: center;
	color: black;
}
.content{
	margin-top: 37px;
	font-size: 18px;
}
.text-uppercase{
	text-transform: uppercase;
}
b{
	color: #151515;
}

.inline{
	float: right;
}
li{
	margin-left: 20px;
}
.spacing{
	margin: 5px 0px;
}

