
.container{
	width: 50%;
	margin: 5px;
	background-color: #F2F2F2;
	line-height: 10px;
	text-align: center;
	margin-left :25%;
	line-height: 20px;
	padding: auto;

}

.input-form{
	width: 98%;
	height: 25px;
	border-radius: 5px;
	border: 1.5px solid #D8D8D8;
	margin: 5px;
}
.regulations{
    
    padding: 2px;
    margin-bottom: : 10px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid grey;
}
.submitwhite{
	color: black;
    font-size: 15px;
    font-weight: 200;
	background: white;
	padding: 5px 15px;
	border: 1.5px solid #D8D8D8;
	border-radius: 3px;
	margin: 10px;
}
.submitblue{
	color: white;
    font-size: 15px;
    font-weight: 200;
	background: lightblue;
	padding: 5px 15px;
	border: 1.5px solid #D8D8D8;
	border-radius: 3px;
}
textarea{
	width: 98%;
	border-radius: 5px;
	border: 1.5px solid #D8D8D8;
	margin: 5px;
}
@media only screen and (max-width: 63.9375em)
{
	.container{
		width: 100%;
		margin:auto;
		font-size: 23px;
	}
}