.container{
	width: 80%;
	padding: auto;
	margin: auto;
	color: grey;
	text-align: center;
	}
.font{
	font-weight: bold;
	font-size: 45px;
	color:#FAE128;
	}
table{
	padding: 20px;
}
.content{
	margin: 20px;
}